<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OpenROAD Cloud | Account | Profile</title>

    {% include 'common/resources-head.html' %}
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        {% include 'common/user/navbar.html' %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Profile</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <fieldset>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <span><label>First Name: </label></span>
                            <input id="first-name" class="form-control" placeholder="" name="first_name" type="text" autofocus required>    
                        </div>
                        <div class="col-lg-6">
                            <span><label>Last Name: </label></span>
                            <input id="last-name" class="form-control" placeholder="" name="last_name" type="text" required>    
                        </div>
                    </div>
                </div>
            </fieldset>
           
            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-right">
                        <a class="btn btn-primary" href="#">Save</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>
                        GitHub
                    </h3>
                </div>
                <div class="col-lg-12">
                    <div class="text-dark">
                        Connect your GitHub account to run the flow on private repositories
                    </div>
                </div>
                <div class="col-lg-12">
                    <a class="btn btn-social btn-github">
                        <span class="fa fa-github"></span> Connect GitHub
                      </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center text-muted">
                        Profile features are currently unavailable.
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    {% include 'common/resources-scripts.html' %}
</body>

</html>
